

  .profileSection{
    padding-bottom: 2rem;
    background: #959F87;
  
  }
  .imgCard{
    border: 4px solid white;
  }
  .imgscroll{
    margin-left: 0;
    margin-right: 0;
  }
  
  @media (max-width: 780px) {
    .imgscroll{
      margin-left: 1.5rem;
      margin-right: .5rem;
    }
   }