

  .profileSection{
    padding-bottom: 2rem;
    background: #959F87;
  
  }
  .imgCard{
    border: 4px solid white;
  }
  
  
  @media (max-width: 780px) {
    .whiteSquar {
      width: 140px;
      height: 40px;
      background: #ffffff;
      border-radius: 20px 0px;
      background-color: white;
      z-index: 2;
      position: relative;
      top: 74%;
      font-size: 0.8rem;
    }
   }