#Ramadan-lantern {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 25vh auto;
  }
  #bottom {
    position: relative;
    width: 150px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .cont1 {
    position: relative;
    height: 50px;
    border: 10px solid #36011f;
    border-radius: 20px 20px 5px 5px;
    border-top: none;
  }
  #bottom .skew {
    border-top: 10px solid #36011f;
    border-radius: 50% 50% 0 0;
    width: 50px;
    height: 50px;
    margin-left: -10px;
    position: absolute;
    top: 0;
  }
  .two {
    transform: translateX(100%);
  }
  .three {
    transform: translateX(200%);
  }
  .cont2 {
    height: 30px;
    position: relative;
    margin-bottom: -10px;
  }
  .item {
    display: inline-block;
    height: 120%;
    border: 5px solid #36011f;
    width: 10px;
    border-radius: 5px;
    position: absolute;
  }
  .left {
    left: 10px;
    transform: rotate(30deg);
  }
  .right {
    right: 10px;
    transform: rotate(-30deg);
  }
  .cont3 {
    width: 90%;
    height: 25px;
    border: 7px solid #36011f;
    border-radius: 10px;
    position: relative;
    top: 8px;
    margin: 0 auto;
    z-index: 99;
  }
  #center {
    height: 215px;
    width: 200px;
    margin: 0 auto;
  }
  .down {
    height: 150px;
    position: relative;
  }
  .line {
    display: inline-block;
    height: 100%;
    width: 10px;
    background-color: #36011f;
    border-radius: 4px 4px 0 0;
    position: absolute;
    top: 10px;
    transform-origin: center bottom;
  }
  .left-side {
    transform: rotate(-15deg);
    left: 20%;
  }
  .right-side {
    right: 20%;
    transform: rotate(15deg);
  }
  .other1 {
    left: 30%;
    transform: rotate(-5deg);
  }
  .other2 {
    right: 30%;
    transform: rotate(5deg);
  }
  .up .line {
    top: 20px;
    border-radius: 4px 4px 5px 5px;
  }
  .max-left {
    transform: rotate(20deg);
    left: 0;
  }
  .close-left {
    transform: rotate(20deg);
    left: 45px;
  }
  .max-right {
    transform: rotate(-20deg);
    right: 0;
  }
  .close-right {
    transform: rotate(-20deg);
    right: 45px;
  }
  .up:after {
    width: 83%;
    content: "";
    margin: 0 auto;
    display: block;
    height: 10px;
    background-color: #36011f;
    position: relative;
    top: 18px;
    border-radius: 5px;
  }
  .circle-line {
    position: absolute;
    top: 20px;
  }
  .left-circle {
    left: 25px;
    transform: rotate(-16deg);
  }
  .right-circle {
    right: 20px;
    transform-origin: center bottom;
    transform: rotate(3deg);
  }
  .cir {
    border-radius: 50%;
    border: 5px solid #36011f;
  }
  .a  {
    width: 38px;
    height: 38px;
  }
  .b  {
    width: 30px;
    height: 30px;
  }
  .c  {
    width: 25px;
    height: 25px;
  }
  .d  {
    width: 20px;
    height: 20px;
  }
  .up {
    height: 50px;
    position: relative;
  }
  #center:before {
    content: '';
    display: block;
    height: 30px;
    border: 10px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    border-radius: 40%;
    margin: 0 auto -25px;
    width: 50%;
  }
  #top {
    height: 70px;
    border: 10px solid #36011f;
    margin: auto;
    width: 50px;
    border-top: 1px solid #36011f;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    border-radius: 40%;
  }
  #moon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-shadow: -25px -15px 0 0 #36011f;
    -moz-box-shadow: -25px -15px 0 0 #36011f;
    box-shadow: -25px -15px 0 0 #36011f;
    position: absolute;
    left: 95px;
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  -webkit-animation: myfirst 3s ease-in-out;
          animation: myfirst 3s ease-in-out;
         }
  
          /* Chrome, Safari, Opera */
          @-webkit-keyframes myfirst {
              0%   {color: red;}
              25%  {color: yellow;}
              50%  {color: blue;}
              75% {color: green;}
              100% {color: red;}
          }
          /* Standard syntax */
          @keyframes myfirst {
              0%   {color: red;}
              25%  {color: yellow;}
              50%  {color: blue;}
              75% {color: green;}
              100% {color: red;}
          }
  .pn {
    text-align: center;
    color: #36011f;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin-top: 1rem;
  }
  .spann {
      border-bottom: 1px dotted #fff;
      display: inline-block;
      padding-bottom: 2px;
  }