@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600;700;800;900&family=Nunito:ital,wght@0,300;0,400;1,300;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,100;1,200;1,300;1,600&family=Roboto:ital,wght@1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600;700;800;900&family=Nunito:ital,wght@0,300;0,400;1,300;1,500&family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,300;1,600&family=Roboto:ital,wght@1,700&family=Rozha+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.header {
  font-family: "Merienda", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rozha One", serif;
}
/* Section Scroll Vedios */
.scrollVedios {
  margin: 0 175px 0 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: #959f87;
  border: 5px solid #959f87;
  border-radius: 100px 0px;
}
@media only screen and (max-width: 600px) {
  .header {
    font-size: 48px;
  }
}

.slider {
  width: 100%;
  height: 200px;
}
.headerr {
  margin: 50px auto;
  text-align: center;
  font-size: 80px;
}

.slide,
.slide img {
  width: 100%;
  height: 350px;
}
.slide {
  /* opacity: .5; */
  transform: scale(0.7);
  transition: 0.5s;
  /* filter: blur(5px); */
}

.slide-active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1.1);
}

/* .dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px #ccc;
}
.dot-active{
  background: #121227;
  box-shadow: 0 0 15px 10px #ccc;
} */
@media screen and (max-width: 768px) {
  .header {
    font-size: 7vw;
  }
}
.for-slick-slider {
  display: flex;
}
.for-slick-slider .items {
  width: 350px;
  height: 250px;
  margin: 50px;
}

.for-slick-slider .items img {
  width: 350px;
  height: 250px;
}
/* ScrollVedio Section********/
.con {
  /* width: 1092px; */
  width: 100%;
  max-width: 1092px;
  height: 620px;
  overflow: hidden;
  background: #959f87;
  border: 5px solid #959f87;
  border-radius: 100px 0px;
  display: flex;

  justify-content: space-around;
  margin: 0 auto;
}
.vedioImg {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 14rem;
}

.playBtn {
  background: #959f87;
  border-radius: 0px 30px 30px 30px;
  width: 144px;
  height: 52px;
}
.cardVedio {
  border-radius: 0 3.2rem 0;
  width: 18rem;
  height: 28rem;
  margin-top: 3rem;
  overflow: hidden;
  flex-shrink: 0;
  /* padding: 1rem; */
}
@media (max-width: 768px) {
  /* Set the width to 100% and remove the border radius for smaller screens */
  .con {
    width: 100%;
    border-radius: 100px 0px;
    height: 500px;
    display: flex;
    justify-content: center;
  }
  .cardVedio {
    width: 100%;
    max-width: 18rem;
    height: 24rem;
    margin-top: 2rem;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0 3.2rem 0;
    margin-top: 3.2rem; /* Decrease the top margin */
    margin-bottom: 1rem; /* Decrease the bottom margin */
    margin-left: auto; /* Remove left margin */
    margin-right: auto; /* Remove right margin */
    width: 87%;
  }
}

/* AboutUs Section *******/

.aboutUsImage {
  width: 486px;
  height: 536px;
}

.para {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;

  color: #000000;
}
/* Services Section **********/
.servicesCon {
  width: 100%;
  max-width: 1092px;
  height: 1243px;
  overflow: hidden;
  background: #959f87;
  border: 5px solid #959f87;
  border-radius: 100px 0px;
  display: flex;

  justify-content: space-around;
  margin: 0 auto;
}

.ServiceCardImg {
  border: 5px solid #fff;
  border-radius: 3.2rem 0 3.2rem;
  width: 18rem;
  height: 24rem;
  margin-top: 3rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  position: relative;
}

.cowImgg {
  position: absolute;
  z-index: 2;
}
.sheepImgg {
  position: absolute;
  z-index: 2;
}
.text {
  position: relative;
  top: -80px;
  z-index: 1;
}
.whiteSquar {
  width: 207px;
  height: 65px;
  background: #ffffff;
  border-radius: 30px 0px;
  background-color: white;
  z-index: 2;
  margin: 0 auto;
  position: relative;
  top: 74%;
}

@media only screen and (max-width: 768px) {
  .servicesCon {
    border-radius: 60px 0px;
    height: auto;
    padding: 1rem 0 1rem;
    margin: 1rem;
  }

  .ServiceCardImg {
    border: 5px solid #fff;
    border-radius: 3.2rem 0 3.2rem;
    width: 10rem;
    height: 13rem;
    z-index: 1;
    position: relative;
  }

  .cowImgg,
  .sheepImgg {
    width: 20%;
  }
  .ServiceCardImg img {
    width: auto;
    height: auto;
  }
  .whiteSquar {
    width: 120px;
    height: 50px;
    background: #ffffff;
    border-radius: 30px 0px;
    background-color: white;
    z-index: 2;
    margin: 0 auto;
    position: relative;
    top: 74%;
    font-size: 0.9rem;
  }

  .text {
    top: -3rem;
  }
}

/* Alms Section ******* */
.btnClick {
  width: 141px;
  height: 44px;

  background: #959f87;
  border-radius: 30px 0px;
}
.btnShare {
  width: 200px;
  height: 40px;

  background: #e9d5c3;
  border: 3px solid #959f87;
  border-radius: 14px;
}
.AlmsCon{
  width: 100%;
  height: 40rem;
  
}

/* profile Section ***/
.profileSection{
  width: 100%;
  height: 49rem;
  background: #959F87;

}

.circle-image-container {
  width: 250px;
  height: 250px;
  border: 4px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* questionSection**** */
.questionSection{
  width: 100%;
  height: 50rem;
  background: #e9d5c3;
}
.raduisSpan{
  border-radius: 4px 4px 0 0;
}
.raduisanswer{
  border-radius:0 0 4px 4px ;

}