

/* @font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&display=swap') format('woff2');
} */
@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  src: local('El Messiri'), url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap') format('woff2');
}

@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600;700;800;900&display=swap') format('woff2');
}

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600;700;800;900&family=Nunito:ital,wght@0,300;0,400;1,300;1,500&family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,300;1,600&family=Roboto:ital,wght@1,700&family=Rozha+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body,
html {
  margin: 0 !important;
  font-family: "Merienda", cursive, "Nunito", sans-serif, "Poppins", sans-serif, "Roboto", sans-serif, "Rozha One", serif;
  font-weight: 400;
  
} */

*{
  font-family: "Merienda", cursive, "Nunito", sans-serif, "Poppins", sans-serif, "Roboto", sans-serif, "Rozha One", serif !important;
}



