.whatsFooterIcon {
  width: 166px;
  height: 55px;
  margin-top: 3.5rem;

  background: #64b161;
  border-radius: 0px 30px 30px 30px;
}

.scroll-to-top {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

.scroll-to-top:hover {
  background-color: black;
  color: white;
}

.scroll-to-top.active {
  animation: scroll-top 0.5s forwards;
}

@keyframes scroll-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.copyright{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media (max-width: 780px) {
  .contactText{
    font-size: 1.1rem;
  }
  }
  @media only screen and (max-width: 600px) {
    .copyright{
      display: flex;
      text-align: center;
      flex-direction: row;
      justify-content: center;
      width: 100%;
   
    }
    .whatsFooterIcon {
      width: 150px;
      height: 51px;
    margin-top: 2rem;

      background: #64b161;
      border-radius: 0px 30px 30px 30px;
    }
    .centerFoot{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

    }
  }